@import "src/styles/main";

.content {
  padding: 60px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/images/homepage-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
  }
  div {
    margin-top: 36px;
    display: flex;
    align-items: center;
    flex-direction: flex-start;
    hr {
      width: 70px;
      height: 3px;
      background-color: $accent-color-white;
      margin: 0;
    }
    h2 {
      font-size: 50px;
      font-weight: 700;
      margin-left: 45px;
      text-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
    }
  }
}

@media screen and (max-width: 800px) {
  .content {
    h1 {
      font-size: 70px;
      font-weight: 700;
    }
    div {
      margin-top: 30px;

      h2 {
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .content {
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    div {
      margin-top: 20px;

      h2 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
