@import "src/styles/main";

.error-content {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 250px;
    line-height: 170px;
    font-weight: 700;
    color: $accent-color-purple;
  }
  h2 {
    font-size: 120px;
    font-weight: 700;
    color: $accent-color-purple;
  }
  div {
    display: flex;
    align-items: center;
    hr {
      width: 70px;
      height: 1px;
      background-color: $accent-color-white;
      margin: 0;
    }
    h4 {
      font-size: 35px;
      font-weight: 700;
      margin: 0 35px;
    }
  }
}


@media screen and (max-width: 1074px) {
  .error-content {
    h1 {
      font-size: 150px;
      line-height: 170px;
    }
    h2 {
      font-size: 80px;
    }
    div {
      hr {
        width: 50px;
      }
      h4 {
        font-size: 25px;
        margin: 0 15px;
      }
    }
  }
}
@media screen and (max-width: 458px) {
  .error-content {
    h1 {
      font-size: 80px;
      line-height: 80px;
    }
    h2 {
      font-size: 35px;
    }
    div {
      hr {
        width: 40px;
      }
      h4 {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .error-content {
    h1 {
      font-size: 50px;
      line-height: 45px;
    }
    h2 {
      font-size: 30px;
    }
    div {
      h4 {
        font-size: 15px;
      }
    }
  }
}
