// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url) format("woff2");
    font-display: swap;
  }
}


@include font("icon", normal, 400, "/fonts/icons.woff");

.icon {
  font-family: icon;
}
.icon-telegram:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
