@import "reset";
@import "fonts";
@import "vars";
@include reset();

body {
  font-family: "Montserrat", sans-serif;
  color: $accent-color-white;
  background-color: $bg-color;
}

#__next {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $accent-color-white;
}
